* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0px;
  text-align: left;
}

/* NAV / SEARCH*/

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav p {
  margin: 0 1em;
}

nav input {
  height: 3em;
  width: 10em;
}

/* SIDE PANEL MENU */

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 50;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #ddd;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: -7px;
  right: 15px;
  font-size: 36px;
}

.sidepanel hr {
  width: 80%;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #bbb;
  padding: 5px 10px;
  margin-right: 15px;
  border: none;
}

.openbtn:hover {
  background-color:#ddd;
}

/* HEADER */

header {
  padding: 12% 0;
}

/* SECTION */

section {
  min-height: 200px;
  background-color: #bbb;
  padding: 1em .5em;
}

section:nth-child(even) {
  background-color: #ddd;
}

section p, li {
  padding-top: 1em;
}

/* Landing Page */

.landing_nav {
  margin-top: 1em;
  text-align:right;
}

.landing_nav a {
  text-decoration: none;
  font-size: 1.5em;
  color: black;
  padding: 1em;
}

.landing_nav a:hover {
  background-color: #ccc;
  color: white;
}

/* MAP */

.map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:300px;
}

/* DASHBOARD */

.dashboard {
  position: fixed;
  top: 285px;
  width: 100%;
}

.dashboard p {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 15px;
}

.tabs {
  position: relative;   
  clear: both;
  height: 100%;
  display: flex;
  justify-content: center;
}

.tab {
  float: left;
}

.tab label {
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
}

.tab [type=radio] {
  display: none;   
}

.content {
  position: fixed;
  top: 425px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  overflow-y: scroll;
}

[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}

[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

/* PROPERTY LIST */

.properties li {
  padding-top: 0em;
}

/* TABLES */

table td li {
  padding-top:.25em;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	th { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 25%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
    width: 45%;
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "CT"; font-weight: bold; }
	td:nth-of-type(2):before { content: "MSA"; font-weight: bold;  }
	td:nth-of-type(3):before { content: "USA"; font-weight: bold;  }
}

/* Create Account */
.create-account {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.create-account input {
  width: 150px;
  padding-top: .5em;
  margin-top: .25em;
}

.create-account label {
  margin-top: .5em;
}

.create-account__buttons {
  display: flex;
}

.create-account__buttons button {
  margin-top: 2em;
  margin-right: 1em;
}

/* Manage Account */

.manage-account {
  text-align: left;
}

.manage-account div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 1em;
}

.manage-account p {
  padding: 0;
  margin-top: .2em;
  margin-right: 1em;
}

.manage-account div button {
  width: 8em;
  padding: .5em .2em
}