* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0px;
  text-align: left;
}

/* NAV / SEARCH*/

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav p {
  margin: 0 1em;
}

nav input {
  height: 3em;
  width: 10em;
}

/* HEADER */

header {
  padding: 12% 0;
}

/* SECTION */

section {
  min-height: 200px;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

/* MAP */

.map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:300px;
}

/* DASHBOARD */

.dashboard {
  position: fixed;
  top: 300px;
  width: 100%;
}

.dashboard p {
  margin-top: 0;
  margin-bottom: 15px;
}

.tabs {
  position: relative;   
  clear: both;
  height: 100%;
  display: flex;
  justify-content: center;
}

.tab {
  float: left;
}

.tab label {
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
}

.tab [type=radio] {
  display: none;   
}

.content {
  position: fixed;
  top: 425px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  overflow-y: scroll;
}

[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}

[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}